<div class="mt-5">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Componentes de la Aplicación
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <ul>
            <li>
              <h3>Inicio</h3>
              <p>
                Contiene información más reciente acerca del chavo del 8
              </p>
            </li>
            <li>
              <h3>
                Búsqueda
              </h3>
              <p>
                Permite realizar búsquedas entre los personajes más conocidos de la serie animada
              </p>
            </li>
            <li>
              <h3>Acerca de</h3>
              <p>
                Muestra información del sitio
              </p>
            </li>
            <li>
              <h3>
                Barra de navegación
              </h3>
              <p>
                Permite visitar las diferentes secciones del sitio
              </p>
            </li>
          </ul>  
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Servicios de la Aplicación
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <ul>
            <li>
              <h3>
                Personajes
              </h3>
              <p>
                Publica la información de los personajes a los otros componentes.
                Se debe registrar en app.module para poder ser utilizado
              </p>
            </li>
          </ul>  
        </div>
      </div>
    </div>
  </div>
</div>