<div class="container mt-5">
  <div class="card-columns" >
    <div class="card" style="width: 18rem;" *ngFor="let item of personajes"
        (click)="mostrarDetalle(item.id)">
      <figure class="card-img">
        <img class="card-img-top" src="{{item.imagen}}" alt="{{item.nombre}}">
      </figure>
      <div class="card-body">
        <h5 class="card-title">{{item.nombre}}</h5>
        <!-- <a [routerLink]="[ '/detalle']" class="btn btn-primary">Ver detalles</a> -->
      </div>
      <div class="card-footer text-muted">
        Edad: {{item.edad}}
      </div>
    </div>
  </div>
</div>
